fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
sentence-transformers
chromadb
transformers
ultralytics
pandas
openpyxl
langchain
langchain-community
langchain-text-splitters
langchain-huggingface